/* Key stats */
.key-stats > h1.title {
  margin-bottom: 0;
}
.key-stats__wrapper {
  column-count: 2;
  column-gap: 50px;
}

.key-stats__table {
  width: 100%;
  border-collapse: collapse;
}

.key-stats__table td {
  font-size: 14px;
  padding: 15px 0;
  border-bottom: 1px solid rgb(52, 67, 109);
}

.key-stats__table td:nth-child(odd) {
  color: var(--table-child-news-source);
  font-family: Lato-Light;
  font-size: 14px;
}

.key-stats__table td:nth-child(even) {
  text-align: right;
  font-size: 16px;
}

@media only screen and (max-width: 750px) {
  .key-stats__wrapper {
    column-gap: 40px;
  }
}
@media only screen and (max-width: 560px) {
  .key-stats__wrapper {
    column-count: 1;
  }
}
