.chart {
  grid-area: chart;
}

.chart__wrapper {
  position: relative;
  z-index: 1;
  float: right;
  margin-right: 22px;
}

.chart__button {
  background: none;
  border: none;
  color: var(--table-child-news-source);
  opacity: 0.6;
  font-family: Lato-Regular;
}

.chart__button:hover {
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.chart__button--active {
  color: #fff;
  opacity: 1;
}

.chart__button--inactive {
  color: #3f5bd7;
}
