.quotes__stock-price {
  display: inline-block;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 40px;
  font-family: Lato-Light;
  margin: 0;
}

.quotes__stock-price span.arrow-positive {
  position: relative;
}

.quotes__stock-price span.arrow-positive::before,
.quotes__stock-price span.arrow-negative::before {
  position: relative;
  top: -15px;
  font-size: 18px;
  left: -1px;
  display: inline-block;
  width: 17px;
}

.quotes__stock-price span.arrow-positive::before {
  content: "\1f861";
}

.quotes__stock-price span.arrow-negative::before {
  content: "\1f863";
}

.quotes__stock-price span.change-positive {
  color: var(--green-color);
}

.quotes__stock-price span.change-negative {
  color: var(--red-color);
}

.quotes_dollar-sign {
  position: relative;
}

.quotes__percentage-sign {
  position: relative;
}

.quotes_dollar-sign::before {
  position: relative;
  content: "$";
  top: -13px;
  display: inline-block;
  font-size: 20px;
  width: 20px;
}

.quotes__percentage-sign::after {
  position: relative;
  content: "%";
  top: -15px;
  font-size: 20px;
  right: 0px;
  display: inline-block;
  width: 18px;
}

.change-negative.quotes__percentage-sign::before,
.change-positive.quotes__percentage-sign::before {
  position: relative;
  content: "";
  top: 6px;
  width: 1px;
  left: -6px;
  height: 35px;
  margin: 0 4px;
  display: inline-block;
  opacity: 0.6;
}

.change-negative.quotes__percentage-sign::before {
  background-color: var(--red-color);
}

.change-positive.quotes__percentage-sign::before {
  background-color: var(--green-color);
}

@media only screen and (max-width: 590px) {
  .quotes__stock-price {
    font-size: 30px;
  }
  .quotes_dollar-sign::before {
    font-size: 15px;
    top: -10px;
    left: -1px;
  }
  .quotes__stock-price .change-positive.arrow-positive::before {
    font-size: 15px;
    top: -11px;
  }
  .quotes__stock-price .change-negative.arrow-negative::before {
    font-size: 15px;
    top: -11px;
  }
  .quotes__stock-price .change-negative.quotes__percentage-sign::after {
    font-size: 15px;
    top: -11px;
    width: 12px;
  }
  .quotes__stock-price .change-positive.quotes__percentage-sign::after {
    font-size: 15px;
    top: -11px;
    width: 12px;
  }
}
