.company-overview tr:first-child {
    font-size: 24px;
}

.company-overview__website {
    text-decoration: none;
    color: white;
}

.company-overview__website:hover {
    color: yellow
}

.company-overview__title {
    font-size: 20px;
}

.company-overview__text {
    max-height: 150px;
    overflow: auto;
}