
.footer{
    background-color: #002c76;
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.footer__text {
    color: #fff;
    margin: 10px 0;
}

.footer__list {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin-right: 10px;
}

.footer__list span{
    margin-left:8px;
}

.footer---dollar-sign::before {
    position: relative;
    content: "$";
    top: -5px;
}

.footer---percentage-sign::after{
    position: relative;
    content: "%";
    top: -5px;
}

.footer__price--green {
    color: green;
}

.footer__price--red {
    color:red;
}

.footer--arrowUp::before{
    content: '\02191';
    color: green;
    top: -5px;
    position: relative;
}

.footer--arrowDown::before{
    content: '\02193';
    color:red;
    top: -5px;
    position: relative;
}