@font-face {
  font-family: Lato-Regular;
  src: url(../assets/font/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(../assets/font/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Italic;
  src: url(../assets/font/Lato-Italic.ttf);
}

html {
  min-height: 100%;
}

body {
  background-color: #011738;
  background-image: linear-gradient(to bottom right, #102353, #08142e);
  font-family: Lato-Regular;
  margin: 0;
}

h1.title {
  border-bottom: 2px solid #95a4d1;
  color: #95a4d1;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 0 3px;
}

.loading-spinner {
  border: 10px solid #ffffff31;
  border-radius: 50%;
  border-top: 10px solid #95a4d1;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
