html {
  min-height: 100%;
}

body {
  background-color: #011738;
  background-image: linear-gradient(127deg, #012861, #021738 69%, #021025);
  font-family: Lato-Regular;
  margin: 0;
}

h1.title {
  border-bottom: 2px solid var(--highlight1);
  color: var(--highlight1);
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 0 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff0d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--searchBar-tags);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
