/* Header */

.header__logo {
    width: 150px;
}

.stockInfo__list {
    list-style-type: none;
    padding: 0;
}

.stockInfo__list li {
    float: left;
    margin-right: 15px;
    padding: 3px 15px;
    background-color: #0a689e;
}



/* Media Queries */

@media only screen and (max-width: 1200px) {
    .headline-list {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .header__stock-price {
        font-size: 30px;
    }
}