/* Header */

.header__logo {
    width: 150px;
}

.headline-list {
    list-style-type: none;
    float: right;
    font-size: 18px;
}

.stockInfo-list {
    list-style-type: none;
    padding: 0;
}

.stockInfo-list li {
    float: left;
    margin-right: 15px;
    padding: 3px 15px;
    background-color: rgb(102, 123, 181);
}

.headline-list li {
    float: left;
    margin-right: 15px;
    text-transform: uppercase;
    padding: 5px 15px;
}

.headline-list li:last-child {
    padding-right: 0;
}

.headline-list li.current {
    background-color: rgb(55, 121, 228)
}


/* Media Queries */

@media only screen and (max-width: 1200px) {
    .headline-list {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .header__stock-price {
        font-size: 30px;
    }
}