/* Latest news */

.latest-news tr:first-child {
    color: rgb(200, 212, 163);
}

.latest-news tr:nth-child(even) {
    color: rgb(138, 149, 179);
}

a.Latest-news_link {
    text-decoration: none;
    color: white
}

.Latest-news_link:hover {
    color: yellow
}