.Quotes__stock-price {
    display: inline-block;
    padding-left: 20px;
    font-size: 35px;
    font-family: Lato-Light;
    margin: 0;
}

.Quotes__stock-price span.arrowUp {
    position: relative;
}

.Quotes__stock-price span.arrowUp::before {
    content: '\02191';
    position: absolute;
    top: 0px;
    font-size: 18px;
    left: -10px;
}

.Quotes__stock-price span.arrowDown {
    position: relative;
}

.Quotes__stock-price span.arrowDown::before {
    content: '\02193';
    position: absolute;
    top: 0px;
    font-size: 18px;
    left: -10px;
}

.Quotes__stock-price span.green {
    color: green;
}

.Quotes__stock-price span.red {
    color: #e84000;
}

.Quotes_dollar-sign::before {
    position: relative;
    content: "$";
    left: -5px;
    top: -14px;
    font-size: 20px;
}