.quotes__stock-price {
    display: inline-block;
    padding-left: 20px;
    font-size: 35px;
    font-family: Lato-Light;
    margin: 0;
}

.quotes__stock-price span.arrow-positive {
    position: relative;
}

.quotes__stock-price span.arrow-positive::before {
    content: '\02191';
    position: absolute;
    top: 0px;
    font-size: 18px;
    left: -10px;
}

.quotes__stock-price span.arrow-negative {
    position: relative;
}

.quotes__stock-price span.arrow-negative::before {
    content: '\02193';
    position: absolute;
    top: 0px;
    font-size: 18px;
    left: -10px;
}

.quotes__stock-price span.change-positive {
    color:var(--green-color);
}

.quotes__stock-price span.change-negative {
    color: var(--red-color);
}

.quotes_dollar-sign::before {
    position: relative;
    content: "$";
    left: -5px;
    top: -14px;
    font-size: 20px;
}
.quotes__percentage-sign::after{
    position: relative;
    content: "%";
    left: 5px;
    top: -14px;
    font-size: 20px;
}