/* Header */

.header__logo {
  width: 150px;
  margin: -5px;
  margin-left: 0px;
}

.stockInfo__list {
  list-style-type: none;
  padding-top: 12px;
}

.stockInfo__list li {
  float: left;
  margin: 2px 15px 2px 0;
  padding: 5px 15px;
  border-radius: 2px;
  background-color: var(--searchBar-tags);
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .market__text {
    display: none;
  }
  .headline-list {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .header__stock-price {
    font-size: 30px;
  }
}
