.market {
  float: right;
}

.market__text {
  color: #ffffff96;
  font-size: 14px;
  font-family: Lato-Light;
}

.market span.market---moon {
  font-size: 14px;
  padding-left: 10px;
}

.market span.market---moon::before {
  position: relative;
  content: "\263E";
  left: -1px;
  top: 0px;
  font-size: 14px;
  color: #ffbb5e;
}

.market span.market---sun {
  padding-left: 10px;
}

.market span.market---sun::before {
  position: relative;
  content: "\263C";
  left: -1px;
  top: 0px;
  font-size: 14px;
  color: rgb(224, 251, 0);
}
