.peers__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--table-child-news-source);
}

.peers__list---item {
  margin: 0 25px 0 0;
  font-size: 14px;
  padding: 0;
  background: none;
  border: none;
  color: var(--table-child-news-source);
  float: left;
  font-family: Lato-Regular;
}

.peers__list---item:hover {
  cursor: pointer;
  color: var(--yellow-color);
}
