/* Search bar */
.search-bar {
  position: relative;
  display: inline-block;
}

.search-bar__input {
  width: 100%;
  background: none;
  border: none;
  font-size: 35px;
  color: #fff0;
  font-family: Lato-Light;
}

.search-bar::before {
  content: "⚲";
  position: absolute;
  top: 0px;
  font-size: 38px;
  left: 0px;
  transform: rotate(-45deg);
  color: var(--highlight1);
}

.search-bar__options {
  position: absolute;
  background-color: #0c1c43;
  box-shadow: 0px 4px 11px 2px #000000;
  margin: 0;
  top: 50px;
  padding: 15px 20px;
  list-style-type: none;
  z-index: 10;
}

.search-bar__options li {
  margin: 10px 0;
  cursor: pointer;
}

.search-bar__options li:hover {
  color: rgb(153, 171, 250);
}

.search-bar > label {
  position: absolute;
  left: 28px;
  top: 1px;
  opacity: 1;
  font-size: 35px;
  font-family: Lato-Light;
}

.search-bar > input[type="text"]:focus + label {
  display: none;
}

.search-bar > input[type="text"]:focus {
  color: #fff;
}

.company-symbol {
  color: #beccdc;
  opacity: 0.5;
}
