@font-face {
  font-family: Lato-Regular;
  src: url(./assets/font/Lato-Regular.ttf);
}

body {
  background-color: #011E48;
  font-family: Lato-Regular;
}

.header {
  grid-area: header;
}

.search-bar {
  grid-area: search-bar;
}

.chart {
  grid-area: chart;
}

.latest-news {
  grid-area: latest-news;
}

.key-stats {
  grid-area: key-stats;
}

.company-overview {
  grid-area: company-overview;
}

.peers {
  grid-area: peers;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" 
                        "search-bar  search-bar  search-bar" 
                        "chart chart latest-news" 
                        "key-stats  key-stats  company-overview"
                        "   .           .   peers";
  color: #fff;
}

h1.title {
  border-bottom: 2px solid rgb(167, 165, 255);
  color: rgb(167, 165, 255);
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 0 3px;
}

.search-bar__input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  font-size: 26px;
  color: #fff;
}

.key-stats__wrapper {
  column-count: 2;
}

.key-stats__table {
  width: 100%;
  border-collapse: collapse;
}

.key-stats__table td {
  padding: 15px 0;
  border-bottom: 1px solid rgb(52, 67, 109);
}

.key-stats__table td:nth-child(odd) {
  color: rgb(138, 149, 179);
}

.key-stats__table td:nth-child(even) {
  text-align: right;
}


/* Media Queries */
@media only screen and (max-width: 800px) {
  .grid-container {
    grid-template-areas: "header header header" "search-bar  search-bar  search-bar" "chart chart chart" "latest-news latest-news latest-news" "key-stats  key-stats key-stats" "company-overview company-overview company-overview";
  }
}