@font-face {
  font-family: Lato-Regular;
  src: url(./assets/font/Lato-Regular.ttf);
}

body {
  background-color: #011E48;
  font-family: Lato-Regular;
}

.search-bar {
  grid-area: search-bar;
}

.chart {
  grid-area: chart;
}

.latest-news {
  grid-area: latest-news;
}

.key-stats {
  grid-area: key-stats;
}

.company-overview {
  grid-area: company-overview;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:"search-bar  search-bar  search-bar" 
                      "chart chart latest-news" 
                      "key-stats  key-stats  company-overview";
  color: #fff;
}

.search-bar__input {
  width: 100%;
}